# Terraform & Terragrunt
*.tfstate
*.tfstate.*
*.terraform/
.terraform.lock.hcl
.terragrunt-cache
terragrunt-debug.log
terraform.tfvars
*.tfvars
*.backup

# Logs & Temp Files
*.log
*.tmp
*.bak
.DS_Store

# Ignore sensitive files
.env
*.env
*.pem
*.p12
*.key
*.crt
*.secrets
*.config
*.json

# Ignore IDE files
.vscode/
.idea/
*.iml

# Ignore cloud-specific files
*.auto.tfvars
terraform.tfstate.d/
terraform.tfstate.backup
